# Python (Flask backend)
/flask-backend/venv/
*.pyc
__pycache__/
*.db
*.sqlite3

# Next.js (Frontend)
/next-frontend/node_modules/
/next-frontend/.next/
.next/
/out/
.env*
.DS_Store
*.pem
.vercel

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.tsbuildinfo
